nav.navbar.navbar-default.navbar-fixed-top
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse", data-target="#navbar-collapse-content").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Commercial Paper

		div.navbar-collapse.collapse#navbar-collapse-content
			ul.nav.navbar-nav
				li
					a(href="/paper") Manage
				li
					a(href="/") Identify

			ul.nav.navbar-nav.navbar-right
				li
					a(href="/logout") Logout